.wrapper {
    height: 80%;
    display: grid;
    align-items: center;
    justify-content: center;

    .form {
        width: 500px;
        align-items: center;
        display: grid;
        grid-template-rows: repeat(3, auto);
        row-gap: 10%;
    }
}

button {
    background-color: gray;
}
