<div class="wrapper">
    <form [formGroup]="form" (ngSubmit)="login()" class="form">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailControl"
                   placeholder="Ex. name@example.com">
            @if (emailControl.hasError('email') && !emailControl.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
            }
            @if (emailControl.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
            }
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="passwordControl">
            @if (passwordControl.hasError('required')) {
              <mat-error>Password is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</div>
