<div class="wrapper">
    <div class="content">
        <div class="left-side">
            <img src="https://i.imgur.com/OKgOaFd.png">
        </div>
    
        <div class="right-side">
            <h4>🍕 Pizza perfection</h4>
            <p> Dive into a world of pizza like never before. Our chefs handcraft each pizza with love, using the finest ingredients to create a symphony of flavors that dance on your taste buds. From classic Margherita to bold and innovative creations, our pizza menu is a celebration of the timeless and the contemporary.</p>
    
            <h4>🍝 Pasta Passion</h4>
            <p>Savor the richness of our pasta dishes, where traditional recipes meet modern flair. Whether you crave the comforting embrace of a creamy Alfredo or the bold kick of a spicy Arrabbiata, our pasta selection promises a journey through Italy's culinary treasures.</p>
    
            <h4>🐖🐓🐄 Meaty Marvels:</h4>
            <p>For the meat enthusiasts, our menu boasts a selection of pork, chicken, and beef dishes that are sure to tantalize your taste buds. From slow-cooked tender pork to succulent chicken and hearty beef options, our kitchen is a haven for those who appreciate the art of perfectly prepared meats.</p>
    
            <h4>🌯 Shaorma Sensation:</h4>
            <p>Embark on a flavor-packed adventure with our Shaorma offerings. Indulge in the aromatic spices and juicy goodness of our carefully prepared Shaorma wraps, a blend of tradition and innovation that promises a delightful experience in every bite.</p>
    
            <h4>📱 Order Online:</h4>
            <p>Experience the convenience of bringing our culinary delights straight to your doorstep. Browse our menu online, choose your favorites, and place your order with just a few clicks. Our commitment to quality extends beyond our restaurant walls, ensuring that you can enjoy a restaurant-worthy meal in the comfort of your own home.</p>
        </div>
    </div>
</div>