
$primary-a0: #ffffff;
$primary-a10: #d9c8fe;
$primary-a20: #b093fb;
$primary-a30: #8060f6;
$primary-a50: #382bf0;
$primary-a60: #3223ae;
$primary-a70: #291b71;
$primary-a80: #1b1239;
$primary-a90: #000000;
