<div class="wrapper">
  <div class="header">
    <mat-toolbar color="primary">
      <div class="brand">
        <span>Restoorant</span>
      </div>
      <div class="links spaced">
        <a routerLink="/home" routerLinkActive="active-link">Home</a>
        <a routerLink="/menu" routerLinkActive="active-link">Menu</a>
        <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
        <!-- <a routerLink="/home" routerLinkActive="active-link">Support</a> -->
        @if(isAdmin) {
          <a routerLink="/dashboard" routerLinkActive="active-link">Admin</a>
        }
      </div>
      <div class="auth spaced">
        @if(isAuthenticated) {
          <a (click)="logout()">{{username}}</a>
        } @else {
          <a routerLink="/login" routerLinkActive="active-link">Login</a>
          <a routerLink="/register" routerLinkActive="active-link">Register</a>
        }
      </div>
    </mat-toolbar>
  </div>
  
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  
  <div class="footer">
  </div>
</div>
