.wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-rows: auto 1fr auto;

    mat-toolbar {
        display: grid;
        grid-template-columns: auto 1fr auto;

        .links {
            justify-self: center;
        }
    }
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: #00FFFF;
}

.active-link {
    color: #00CED1;
}


.spaced {
    display: flex;
    gap: 16px;
}

.spacer {
    flex: 1 1 auto;
}

.brand {
    box-shadow: 1px;
}